body{
  align-items: center;
  text-align: center;
}

.inputfield .input {
  border-radius: 20px;
  background: blue;
  width: 800px;
  height: 50px; 
  margin: 0;  
  text-align: center;
  background-image: url("https://media.istockphoto.com/videos/multicolored-motion-gradient-background-video-id914165508?s=640x640");
  text-emphasis-color: white;
}

.tenor-gif-embed {
display: inline-block;
margin: 2%;
}