<!-- inherits base.html -->
{% extends 'base.html' %}
{% block content %}

<!-- Creates divs with forms containing the input fields for the search button, random button, and the trending button.  -->

<div class="inputfield" style="padding-left: 20%;">
  <form class="search">
      <input type="text" placeholder="Search GIFs" name="search" class="input"> 
      <input type="submit" class="button" value="Search"/>
  </form>
</div>

<form>      
      <input class="button" type="submit" name="trending" value="Trending">
  </form>
  
  <form>      
          <input class="button" type="submit" name="random" value="Random">
  </form>

  <!-- jinja if statements and for loops to load the gifs into the webpage.
  also contains error handling incase of improper user input.  -->

  {% if gifs %}
  
  {% for gif in gifs %}
  {% include 'gif.html' %}
  {% endfor %}

  {% else %}
  <p class="err-msg">Sorry! No Gifs to Display!!</p>
  {% endif %}

  {% endblock %}

