{% extends 'base.html' %}
{% block content %}
<div class="inputfield" style="padding-left: 20%;">
  <form class="search">
      <input type="text" placeholder="Search GIFs" name="search" class="input"> 
      <input type="submit" class="button" value="Search"/>
  </form>
</div>
<!-- <form style="padding-left: 35%;">     -->
<form>      
      <input class="button" type="submit" name="trending" value="Trending">
  </form>
  <!-- <form style="padding-left: 34.72%;"> -->
  <form>      
          <input class="button" type="submit" name="random" value="Random">
  </form>
  {% if gifs %}
  
  {% for gif in gifs %}
  {% include 'gif.html' %}
  {% endfor %}

  {% else %}
  <p class="err-msg">Sorry! No Gifs to Display!!</p>
  {% endif %}

  {% endblock %}

